---
title: "3172: Second Day Verification"
tags:
  - Database
---
### Problem Statement

